{% extends 'base.html.twig' %}

{% block title %}Liste des insectes{% endblock %}

{% block body %}
    <h1>LISTE DES INSECTES</h1>

    {% for insect in insects %}
        <li><a href="{{ path ('app_insect', {id: insect.id}) }}">{{ insect.nameInsect }}</a></li>
        <div><img src="{{ insect.image }}" width="250px" /></div>
    {% else %}
        <li>Aucun insecte trouvé.</li>
    {% endfor %}

{% endblock %}