
#mainnav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
#mainnav ul li {
    margin: 0 10px;
}
#mainnav .dropdown ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
}
#mainnav .dropdown:hover ul {
    display: block;
}
#wrapper {
    display: flex;
    height: 89.5vh;
}
#imgcol {
    flex: 1;
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.about-observation {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    width: 100%;
}
#formcol {
    flex: 1;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    padding: 20px;
}
.inner {
    max-width: 400px;
    width: 100%;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 15px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #74ac00;
    border: none;
    color: white;
    font-size: 16px;
}