/* Styles pour le conteneur de recherche */
.search-container {
    position: relative;
    width: 250px;
    margin: 0 auto;
}

/* Barre de recherche */
#rechercheInsecte {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
}

/* Liste de suggestions */
.suggestions {
    width: 96.5%;
    max-height: 200px; /* Hauteur maximale de la liste */
    overflow-y: auto;  /* Activer le défilement vertical */
    top: 40px;
    border: 1px solid #ccc; /* Bordure pour bien visualiser la liste */
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style-type: none; /* Enlever les puces de la liste */
    background: white; /* Arrière-plan blanc pour la liste */
    position: absolute; /* Pour un positionnement correct */
    z-index: 1000; /* Assurer que la liste soit au-dessus d'autres éléments */
    display: none;
}

.suggestions.active {
    display: block;
}

/* Style des éléments de suggestion */
.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}