{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<section>
    <div>
        <h2 class="bg-gradient-green mb-3 px-4 pb-3 pt-2 text-white">À propos de nous</h2>

        <div>
            <h3>Prenez le temps de redécouvrir la nature</h3>
            <p>Dans le tumulte de nos vies modernes, on oublie souvent de lever les yeux... ou de les baisser. La nature regorge de trésors invisibles, et les insectes en font partie. Avec notre application, nous vous invitons à ralentir, à prendre le temps de vous balader, et à porter attention à ces petites merveilles qui bourdonnent, rampent ou volent autour de nous.
        </div>
        <div>
            <h3>Une bulle d'air, une aventure personnelle</h3>
            <p>Observer les insectes, c'est un peu comme partir en exploration. Chaque promenade devient une aventure. Peut-être rencontrerez-vous une abeille affairée, un papillon coloré ou un coléoptère scintillant sous les rayons du soleil. En capturant ces instants grâce à notre application, vous participez à quelque chose de plus grand : apprendre, s'émerveiller, et se reconnecter avec le vivant.</p>
        </div>
        
        <div>
            <h3>Éveillez votre curiosité</h3>
            <p>Le monde des insectes est un véritable mystère. Saviez-vous qu'ils représentent près de 80 % des espèces animales sur Terre ? Avec notre application, vous pouvez découvrir leurs secrets, comprendre leur rôle essentiel dans la nature, et noter vos découvertes. Chaque observation, qu'elle soit faite dans votre jardin ou en pleine forêt, devient une petite pièce du grand puzzle de la biodiversité.</p>
        </div>
        
        <div>
            <h3>Une invitation à ralentir</h3>
            <p>Cette application n'est pas qu'un outil. C'est aussi une invitation à prendre soin de vous. Oubliez un instant vos écrans et vos obligations, et laissez-vous porter par le chant des oiseaux, le bruissement des feuilles, et... le monde fascinant des insectes. Ces moments d'observation sont une parenthèse, une façon simple de retrouver du calme et de l'émerveillement dans le quotidien.</p>
        </div>
        
        <div>
            <h3>Pourquoi avons-nous créé cette application ?</h3>
            <p>Parce que nous sommes convaincus que chaque personne, qu'elle soit passionnée par la nature ou simplement curieuse, peut contribuer à la protéger. Observer, apprendre et partager, c'est aussi une manière de préserver. Et qui sait, peut-être que vos observations inspireront d'autres à faire de même.</p>
        </div>

        <div>
            <p>Alors, prêts à partir à la découverte de ce monde si vaste et pourtant si méconnu ? Prenez vos chaussures de marche, votre téléphone, et surtout, votre curiosité. Les insectes n'attendent que vous pour révéler leurs secrets.</p>
        </div>
    </div>
</section
{% endblock %}