{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>AJOUTER UN INSECTE EN BASE DE DONNEES</h1>

    {{ form_start (formInsect) }}
    <input type="submit" value="Encoder"
    {{ form_end (formInsect) }}

{% endblock %}