{% extends 'base.html.twig' %}

{% block title %}{{ observation.insecteName }}{% endblock %}

{% block body %}
    <div>
        <h1>{{ observation.insecteName }}</h1>
        {% if observation.photo is not null and observation.photo != null %}
            <img src="../uploads/photos/{{ observation.photo }}" width="250px" height="250px" />
        {% else %}
            <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg" width="250px" height="250px" />
        {% endif %}
    </div>
    
{% endblock %}