{% extends 'base.html.twig' %}

{% block title %}Liste des observations{% endblock %}

{% block body %}
    <h1 class="mb-4">Liste des observations</h1>

    <div class="container text-center">
        <div class="row row-cols-3">
            {% for observation in observations %}
                <div class="col">
                    <a href="{{ path ('app_observation',   {id: observation.id}) }}">{{ observation.nameInsect }}</a>

                    {% if observation.photo is not null and observation.photo != 'null' %}
                        <div><img src="../uploads/photos/{{ observation.photo }}" width="250px" height="250px" /></div>
                    {% else %}
                        <div><img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg" width="250px" /></div>
                    {% endif %}
                </div>

            {% else %}
                Aucune observation trouvée.
            {% endfor %}
        </div>
    </div>
{% endblock %}
