{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2 class="bg-gradient-green mb-3 px-4 pb-2 pt-2 text-white">Dernières observations</h2>

    <div class="swiper mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
                {% for observation in observations %}
                <div class="swiper-slide">
                    {% if observation.photo is not null and observation.photo != null %}
                        <img src="../uploads/photos/{{ observation.photo }}"/>
                        <p>{{ observation.nameInsect }}</p>
                    {% else %}
                        <img src="https://answers-afd.microsoft.com/static/images/image-not-found.jpg"/>
                    {% endif %}
                </div>
                {% else %}
                    <p>Aucune observation trouvée.</p>
                {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
{% endblock %}