.bg-gradient-green{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity)) !important;
    background-image: var(--bs-gradient) !important;
}

.bg-gradient-white{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.swiper{
    width: 100%;
    height: 300px;
}