.bg-gradient-green{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity)) !important;
    background-image: var(--bs-gradient) !important;
}

.bg-gradient-white{
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}

.swiper .container-fluid {
    margin: 0 !important; /* Force les remplissages à 0 */
    padding: 0 !important; /* Force les remplissages à 0 */
}

.observation-card {
    position: relative;
    overflow: hidden !important; /* Cache tout débordement */
    height: 350px !important; /* Ajuste cette valeur selon tes besoins */
}
.observation-image {
    width: 100% !important; /* Assure que l'image s'étend sur toute la largeur */
    height: 500px !important; /* Ajuste cette valeur selon tes besoins */
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    color: white;
    padding-top: 10px;
    text-align: center;
}