{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    {% if is_granted("ROLE_ADMIN") %}
        <h1 class="mb-3">Administration</h1>
        <a href="{{ path ('app_formAddInsect') }}">Ajouter un insecte dans la base de données</a>
    {% endif %}

{% endblock %}